.dialog-screenshot {
    /* background: red; */
}
.dialog-screenshot::backdrop {
    backdrop-filter: blur(20px) grayscale();
    -webkit-backdrop-filter: blur(20px) grayscale();
    background-color: red;
    display: none;
    /* background-color: red; */
}
